<a href="https://colab.research.google.com/github/opark03/Notebooks/blob/main/Intro_To_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Advantages of R:
- Built for Statistics
- Data visualization
- Additional statistical packages
- Data wrangling
- Academic focus
- Customizable

Disadvantages of R:
- Less readable
- More difficult to learn well
- Not as beginner friendly

Design:
- designed to support statistcal computing
-vector first thinking
- everything is an object

R Syntax:
- Braces {} are used to form blocks
- semi-colons used to end statments, required if on the same line
- assignments are made with <- or -> (or=)
- dots . have no special menaing- they are not operators
- single and double quotes have the same meaning, but double quotes are preffered
  - use single quotes if you are expecting a string to contain double quotes

In [ ]:
# to assign a value to a variable, use the <- notation
#Variable must start with a letter and cannot start with a number or _ - it can start with a . but must be follwed by a letter

favorite_album <- "Dark side of the Moon"
favorite_album

[1] "Dark side of the Moon"

In [ ]:
myvar <- 11

In [ ]:
# you can learn what datatype an object if using the typeof() function
# a double is a type of integer with 2 digits

typeof(myvar)

[1] "double"

In [ ]:
# you can assign values the other way (hower convention is R to L)
"Mickey" -> mousename
mousename

[1] "Mickey"

In [ ]:
# concatenate values into an object using the c() function
# pushed values into object but still sees them as seperate things

myname <- c("bob", "dylan")
myname

[1] "bob"   "dylan"

R Data Types:
- numeric
-integer
-complex
-logical
-character

In [ ]:
# demimal values are called numeric values in R - they are the defult computational type
# R will give the output of each thing called back unlike python which only gives the last output

x <- 10.5
x
class(x)

[1] 10.5

[1] "numeric"

In [ ]:
# even if we assign an integer value to a variable k, it will be numeric
# class if a more precsise description of typeof()

k <- 1
class(k)

[1] "numeric"

In [ ]:
# to create an integer variable in R, we use as.integer()

y <- as.integer(3)
y

[1] 3

In [ ]:
class(y)
is.integer(y)

[1] "integer"

[1] TRUE

In [ ]:
# we can also declare an integer by appending an L suffix

y <- 3L
is.integer(y)

[1] TRUE

In [ ]:
# we can cast a numeric value into an integer
as.integer(3.14)

[1] 3

In [ ]:
# you cannot turn all things into an integer
as.integer("joe")

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

In [ ]:
as.integer(TRUE)
as.integer(FALSE)

[1] 1

[1] 0

Math Operations:
- +
- -
- *
- /
- ^ or ** (expontential)
- x%%y is integer divison

In [2]:
# Normal PEMDAS

4^2 * (4 + 8 * 2 / 4)
14^3
5 %/% 3

[1] 128

[1] 2744

[1] 1

In [4]:
x <- 1
y <- 2
z <- x > y
class(z)

[1] "logical"

In [8]:
u <- TRUE
v <- FALSE
u & v

[1] FALSE

In [9]:
u | v
!u

[1] TRUE

[1] FALSE

In [10]:
# Characters

x = as.character(3.14)
x

[1] "3.14"

In [11]:
class(x)

[1] "character"

In [16]:
# paste() : two character values can be concatenated with this function
# different then c function because this puts them together without seperation

fname <- "Joe"
lname <- "Smith"
c(fname, lname)
paste(fname, lname)

[1] "Joe"   "Smith"

[1] "Joe Smith"

In [14]:
# fill in parts of strong with string and integers
sprintf("%s has %d dollars", "sam", 100)

[1] "sam has 100 dollars"

In [13]:
# Pull out a part of the string
# R INDEXES AT 1 NOT ZERO!!!!!!!

substr("Mary has a little lamb.", start=3, stop=12)

[1] "ry has a l"

In [15]:
# replace one word with another
sub("little", "big", "Mary has a little lamb")

[1] "Mary has a big lamb"

R Data Structures

Basic R comes with several data structures:
- vector
  - what is called an array in all langs but r
  - a collection of cells with fixed size where cells hold all the same data types
- matrix
  - two demensional vector
- array
  - vector with one or more demensions
  - one demenison is (almost) the same as a vector. two demensions is (almost) the same as a matrix. An array with three or more demensions is an n-dimensional array
- list
  - holds items of different data types and the list size can be increased on the fly
  - contents can be accessed euther by index (mylist[[1]]) or by name (mylist$age)
- data frame
  - called a table in most langs
  - each column holds the same data type
  - columns have header names
  - a loist of vectors with the same length with varying data types

most frequently used are vectors and data frames

In [17]:
# Vectors and c()
# member of a vector are called components

c(2, 3, 5)

[1] 2 3 5

In [21]:
# vector of logical values
c(TRUE, FALSE, TRUE, FALSE, FALSE)
# assign to a variable

z <- c(TRUE, FALSE, TRUE, FALSE, FALSE)
z

[1]  TRUE FALSE  TRUE FALSE FALSE

[1]  TRUE FALSE  TRUE FALSE FALSE

In [19]:
# vector of character strings
c("aa", "bb", "cc", "dd", "ee")

[1] "aa" "bb" "cc" "dd" "ee"

Vectors from sequences using :, seq(), and rep()

In [22]:
s1 <- 2:5
s1

[1] 2 3 4 5

In [24]:
s2 <- seq(from=1, to=5, by=2)
s2

[1] 1 3 5

In [25]:
s3 <- rep(1,5)
s3

[1] 1 1 1 1 1

In [26]:
a <- c(1, 3, 5, 7)
b <- c(1, 2, 4, 8)

In [27]:
a * 5

[1]  5 15 25 35

In [29]:
a + b
a * b

[1]  2  5  9 15

[1]  1  6 20 56

In [30]:
# Recycling rule - if two vectors are unequal lengths, the shorter one will be recyled to re match
# error will come up if no even recycle possible

u <- c(10, 20, 30)
v <- c( 1, 2, 3, 4, 5, 6, 7, 8, 9)
u + v

[1] 11 22 33 14 25 36 17 28 39

In [31]:
# vector indicies
# we retrieve values in a vector by declaring an index inside a single sqaure bracket[] index operator
# vector indexes are 1-based.

s <- c("aa", "bb", "cc", "dd", "ee")
s[3]

[1] "cc"

In [33]:
# negative indexing will remove the index specified
# does not perminatley remove because vectors are not changed- assign to a new variable if you want the new list
s[-3]
s[3]

[1] "aa" "bb" "dd" "ee"

[1] "cc"