<a href="https://colab.research.google.com/github/opark03/Notebooks/blob/main/Intro_To_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Advantages of R:
- Built for Statistics
- Data visualization
- Additional statistical packages
- Data wrangling
- Academic focus
- Customizable

Disadvantages of R:
- Less readable
- More difficult to learn well
- Not as beginner friendly

Design:
- designed to support statistcal computing
-vector first thinking
- everything is an object

R Syntax:
- Braces {} are used to form blocks
- semi-colons used to end statments, required if on the same line
- assignments are made with <- or -> (or=)
- dots . have no special menaing- they are not operators
- single and double quotes have the same meaning, but double quotes are preffered
  - use single quotes if you are expecting a string to contain double quotes

In [1]:
# to assign a value to a variable, use the <- notation
#Variable must start with a letter and cannot start with a number or _ - it can start with a . but must be follwed by a letter

favorite_album <- "Dark side of the Moon"
favorite_album

[1] "Dark side of the Moon"

In [3]:
myvar <- 11

In [4]:
# you can learn what datatype an object if using the typeof() function
# a double is a type of integer with 2 digits

typeof(myvar)

[1] "double"

In [5]:
# you can assign values the other way (hower convention is R to L)
"Mickey" -> mousename
mousename

[1] "Mickey"

In [7]:
# concatenate values into an object using the c() function
# pushed values into object but still sees them as seperate things

myname <- c("bob", "dylan")
myname

[1] "bob"   "dylan"

R Data Types:
- numeric
-integer
-complex
-logical
-character

In [8]:
# demimal values are called numeric values in R - they are the defult computational type
# R will give the output of each thing called back unlike python which only gives the last output

x <- 10.5
x
class(x)

[1] 10.5

[1] "numeric"

In [9]:
# even if we assign an integer value to a variable k, it will be numeric
# class if a more precsise description of typeof()

k <- 1
class(k)

[1] "numeric"

In [10]:
# to create an integer variable in R, we use as.integer()

y <- as.integer(3)
y

[1] 3

In [11]:
class(y)
is.integer(y)

[1] "integer"

[1] TRUE

In [13]:
# we can also declare an integer by appending an L suffix

y <- 3L
is.integer(y)

[1] TRUE

In [14]:
# we can cast a numeric value into an integer
as.integer(3.14)

[1] 3

In [15]:
# you cannot turn all things into an integer
as.integer("joe")

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

In [16]:
as.integer(TRUE)
as.integer(FALSE)

[1] 1

[1] 0

Math Operations:
- +
- -
- *
- /
- ^ or ** (expontential)