<a href="https://colab.research.google.com/github/opark03/Notebooks/blob/main/labs/lab2/lab2-race-results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DS1002 Lab 2: Determine Race Results with R

In this lab you will work with a dataset, writing R to generate the deliverables specified in the cells below.

The dataset for this lab is made up of fictitious results from a road race. Runner information and results is provided in the data.

Answer the questions below with the appropriate R code. Point assignments are indicated for each section. There are 10 total points possible for this lab.

Useful reference material (check all R modules within the Canvas site for more help)
- [R Reference Material](https://canvas.its.virginia.edu/courses/78571/modules#module_219810).
- [Plots Samples](https://colab.research.google.com/github/nmagee/ds1002/blob/main/notebooks/25-plots-in-r.ipynb)

## Group Submissions

If you are working in a group to complete this lab, you may have no more than 3 members to a group. Group members should be indicated in the cell below -- list both names and UVA computing IDs.

Each student should then submit **the same URL** for the lab in Canvas. (If a group has Member1, Member2, and Member3, only one member needs to save the completed work back to GitHub and all members should submit that URL for grading.)

In [ ]:
# List group members (if applicable). Identify names and computing IDs
#
# Name                    Computing ID

## 1. Load Libraries & Data (1 pt)

https://raw.githubusercontent.com/nmagee/ds1002/main/data/road-race.csv

Import any necessary libraries and load the remote CSV file below into a data frame.

In [24]:
#
library(dplyr)
dataset <- read.csv("https://raw.githubusercontent.com/nmagee/ds1002/main/data/road-race.csv")

## 2. Get Summary Data (1 pt)

In code, display how many rows and columns are in the raw dataset.

In [25]:
#
str(dataset)

'data.frame':	764 obs. of  5 variables:
 $ runner_bib   : int  1 2 3 4 5 6 7 8 9 10 ...
 $ runner_name  : chr  "Loydie Lopes" "Lorens Crispe" "Shirline Hasser" "Alleyn Hartshorn" ...
 $ runner_age   : int  17 33 22 39 50 44 51 44 30 60 ...
 $ runner_gender: chr  "Male" "Male" "Female" "Male" ...
 $ finish_time  : chr  "16:01" "15:40" "14:20" "17:06" ...

In [40]:
dim(dataset)

[1] 594   5

## 3. Clean and Organize the Data (2 pts)

Check for data quality.

- Resolve any duplicate rows.
- If a runner does not have a finish time, they are DNF and should not be counted in the dataset.

In [26]:
# First looking to see how many duplicated rows
nrow(dataset[duplicated(dataset), ])

[1] 124

In [27]:
dataset <- dataset[!duplicated(dataset), ]
nrow(dataset[duplicated(dataset), ])

[1] 0

In [38]:
dataset <- dataset[dataset$finish_time != "", ]

In [39]:
head(dataset, 10)

   runner_bib runner_name      runner_age runner_gender finish_time
1   1         Loydie Lopes     17         Male          16:01
2   2         Lorens Crispe    33         Male          15:40
3   3         Shirline Hasser  22         Female        14:20
4   4         Alleyn Hartshorn 39         Male          17:06
5   5         Wang MacColl     50         Male          16:49
6   6         Tonnie Tidder    44         Male          15:43
8   8         Basil Moxsom     44         Male          15:16
9   9         Lark Bragge      30         Female        15:59
10 10         Kent Wakely      60         Male          14:29
11 11         Judye Hattrick   17         Female        15:27

Now display the first 10 rows of the cleaned dataset.

## 4. Calculate Elapsed Time (3 pts)

Using R, add a new column named `["finish_minutes"]` to the dataframe that calculates the number of minutes it took for the runner to complete the race. Ideally this is a column consisting of plain integers.

The starting gun was fired at precisely 12:00pm that day.

Note: This is calculated using a built-in function of R, `difftime()` which takes 3 parameters:

- End time
- Start time
- Units

The result is an output that figures the difference between the two: `3 days`, `14 years`, `112 mins`, etc.

The syntax for that function is below. Take care to use the proper order of parameters. The `as.POSIXct` casting makes it possible to read a long datetime in the `YYYY-MM-DDTHH:MM` format, a common `datetime` value. The `format` parameter specifies the pattern you are trying to read.

```
df$new-column <- (difftime( as.POSIXct(df$end-column, format="%Y-%m-%dT%H:%M"),
                            as.POSIXct(df$start-column, format="%Y-%m-%dT%H:%M"),
                            units="min"))
```

In [10]:
# i am too confused here

ERROR: ignored

## 5. Identify Winners by Gender (2 pts)

Based on the minutes it took each runner to complete the race, identify the top three places for each gender.

There are several ways to do this, some of which require less code than others. You will only be graded for producing the correct output, not on how elegant/advanced your programming is.

In [43]:
#
dataset %>%
  group_by(runner_gender) %>%
  mutate(rank = dense_rank(finish_time)) %>%
  ungroup() %>%
  arrange(runner_gender, rank) %>%
  filter(rank <= 3)

   runner_bib runner_name            runner_age runner_gender finish_time rank
1  321        Jacobo Telling         33         Agender       14:47       1
2  480        Tomasina Greensall     22         Agender       15:12       2
3  332        Ina Bonifant           30         Agender       15:17       3
4  249        Sephira Kirgan         33         Bigender      14:24       1
5  546        Chauncey Langthorne    16         Bigender      14:29       2
6  263        Ernestus Draper        45         Bigender      14:58       3
7   21        Carmencita Petrishchev 20         Female        14:15       1
8  134        Marylin Standering     18         Female        14:15       1
9  238        Melloney Fonteyne      20         Female        14:15       1
10 415        Dalia Neathway         56         Female        14:15       1
11 266        Devan Attwill          48         Female        14:16       2
12 544        Sophia Douberday       31         Female        14:16       2
13  74        Helene Dilon           61         Female        14:18       3
14 207        Madalyn Farny          15         Female        14:18       3
15 570        Mirella Cabotto        41         Female        14:18       3
16 152        Patrice Draye          18         Genderfluid   14:15       1
17 606        Nonna Restill          57         Genderfluid   14:24       2
18 421        Neysa Willatt          60         Genderfluid   14:33       3
19 547        Patin Dawidowitsch     17         Genderqueer   15:27       1
20 527        Bobby Sykes            52         Genderqueer   15:28       2
21 590        Abigale Beedle         41         Genderqueer   15:34       3
22 393        Ker Dearden            62         Male          14:15       1
23 114        Arin Maffezzoli        52         Male          14:18       2
24 325        Holt Teissier          36         Male          14:18       2
25 514        Rooney Klausewitz      57         Male          14:19       3
26 341        Gaylor Buckett         17         Non-binary    14:29       1
27  38        Mellie Merryfield      54         Non-binary    15:03       2
28 426        Base Dukes             62         Non-binary    15:19       3
29 283        Karyl Pyne             38         Polygender    14:21       1
30 356        Alair Blyde            42         Polygender    14:27       2
31 578        Dagmar Bedburrow       47         Polygender    14:49       3

## 6. Plot the Data (3 pts)

Finally, using `ggplot2` create two plots of the data -- density plots of race finishers.

- In the first plot use `finish_minutes` as the x axis.
- In the second plot use `runner_age` as the x axis.
- Use `runner_gender` as the fill.
- We suggest using a `geom_density(alpha=0.2)` or therabouts to see layers through one another.
- Use the `gridExtra` library's `grid.arrange()` method to plot them both.

You will note that since this is artificial data you will be able to see the gender layers clearly enough but they will not be statistically meaningful.

In [ ]:
#
library(ggplot2)
library(gridExtra)

plot_finish_minutes <- ggplot(dataset, aes(x = ))