<a href="https://colab.research.google.com/github/opark03/Notebooks/blob/main/notebooks/14-control_structures_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Control Structures

```
  University of Virginia
  DS 1002: Programming for Data Science
  Last updated: 10/04/2023
```

### PREREQUISITES
- variables
- data types
- conditional operators

### SOURCES

- conditional statements  
https://www.w3schools.com/python/python_conditions.asp

- `while-loop`  
https://www.w3schools.com/python/python_while_loops.asp

### OBJECTIVES
- Introduce the essential control structures

### CONCEPTS

- conditional statements
- if, else, elif
- for-loop
- while-loop
- break
- continue
- iteration

---
### **A Note on Indentation**

This is where Python differs from most languages. To define control structures, \
and functional blocks of code in general, most languages use either characters like braces `{` and `}` or key words like `IF ... END IF`.

Python uses tabs -- spaces, actually -- to signify logical blocks off code.

It is therefore imperative to understand and get a feel for indentation.

## I. Introducing Control Structures

Python includes structures to control the flow of a program:

- `conditions` (if, else)
- `loops`
  - `while-loop`    
  Execute statements while a condition is true
  - `for-loop`    
  Iterates over a iterable object (list, tuple, dict, set, string)
  
Note: as always, proper indentation is essential.

## II. Conditions

### `if` and `else` can be used for conditional processing.

`if` conditon:  
&nbsp;&nbsp;&nbsp;&nbsp;expression

In [1]:
val = -2

if val >=0:
    print(val)
else:
    print(-val)

2

### TRY FOR YOURSELF (UNGRADED EXERCISES)

1. if `z=4` write an `if` statement that evaluates if `z` is odd or even and then print "z is even"

In [3]:
# use modulous remainder function to determine if odd or even
z = 4

if z % 2 == 0:
   print("z is even")

z is even

2. Add and `else` statement to the above code to print "z is odd"

In [7]:
if (z % 2) ==0:
   print("z is even")
else:
  print("z is odd")

z is even

In [8]:
# reverse what we are looking for
if (z % 2) ==1:
   print("z is odd")
else:
  print("z is even")

z is even

3. Imagine we had a long list of numbers we were checking, within the `if, else` statement print what number is being checked by the condition. (Hint: use string arthimetic)

In [10]:

if z % 2 == 0:
  print("checking " + str(z))
  print(" z is even")
else:
  print("z is odd")

checking 4
 z is even

### using `if`, `elif`

`elif` is reached when the previous statements are not.

In [11]:
# else will print when no condition are met so somthing is stil printed
val = -2

if -10 < val < -5:
    print('bucket 1')
if -5 <= val < -2:
    print('bucket 2')
elif val == -2:
    print('bucket 3')
else:
  print("Does not meet any condition")

bucket 3

In [16]:
val = -2

if -10 < val < -5:
    print('bucket 1')
if -5 <= val < -2:
    print('bucket 2')
elif val == -2:
    print('bucket 3')

bucket 3

### TRY FOR YOURSELF (UNGRADED EXERCISES)

4. What prints in the above `if`, `elif` example if val = 5?  
Copy the code in the cell below and run it

In [18]:
val = 5
if -10 < val < -5:
    print('bucket 1')
if -5 <= val < -2:
    print('bucket 2')
elif val == -2:
    print('bucket 3')

In [17]:
# add  in the else statement to get somthing bacl
val = 5
if -10 < val < -5:
    print('bucket 1')
if -5 <= val < -2:
    print('bucket 2')
elif val == -2:
    print('bucket 3')
else:
  print("Does not meet any condition")

Does not meet any condition

### using `if`, `elif`, `else`

`else` can be used as a catchall

In [19]:
val = 5

if -10 < val < -5:
    print('bucket 1')
elif -5 <= val < -2:
    print('bucket 2')
elif val == -2:
    print('bucket 3')
else:
    print('bucket 4')

bucket 4

### TRY FOR YOURSELF (UNGRADED EXERCISES)
5. Write a statement that evaluates if a number is a number is divisble by 2, divisble by 3, or divisble by both numbers. If there is a number that is not divisable by either number, make sure to include a statement for that case. *Test the numbers: 4, 6, 9, 13*

In [21]:
x = 13
if x % 2 and x % 3 == 0:
  print(str(x) + " is divisible by 2 and 3")
elif x % 2 ==0:
  print(str(x) + " is divisible by 2")
elif x % 3 ==0:
  print(str(x) + " is divisible by 3")
else:
  print(str(x) + " is neither divisible by 2 or 3")

13 is neither divisible by 2 or 3

In [22]:
# will always choose the first logical operater that is meets - it will not continue to check and string things together
x = 12
if x % 2 and x % 3 == 0:
  print(str(x) + " is divisible by 2 and 3")
elif x % 2 ==0:
  print(str(x) + " is divisible by 2")
elif x % 3 ==0:
  print(str(x) + " is divisible by 3")
else:
  print(str(x) + " is neither divisible by 2 or 3")

12 is divisible by 2

### writing `if` and `else` as one-liners

In [23]:
x = 3
print('odd') if x % 2 == 1 else print('even')

odd

In [34]:
# even though not even, it returns "even" because it does not meet the first condition
x = 4.5
print('odd') if x % 2 == 1 else print('even')

even

Notice `==` for checking the condition  x % 2 == 1.

both `if` and `else` are required. this breaks:

In [24]:
# does not work because only contains the "if" and not the "else"
print('odd') if x % 2 == 1

SyntaxError: ignored

### Using multiple conditions

Can build complex statements. Use parentheses carefully, to keep order of operations correct.

In [25]:
# correct- seperate conditions with parenthesis

val = 2

if (-2 < val < 2) or (val > 10):
    print('bucket 1')
else:
    print('bucket 2')

bucket 2

In [26]:
# incorrect - misplaced parenthesis, returns the wrong thing when misplaces

if (-2 < val) < 2 or val > 10:
    print('bucket 1')
else:
    print('bucket 2')

bucket 1

and this is because True < 2, as True is cast to integer value 1

this is not the desired result...but does it make sense?

## III. Loops

### `while-loop`  

`while` condition :  
&nbsp;&nbsp;&nbsp;&nbsp;expression  

* Numerically calculating model
* 'repeating action until condition is met'


What does this print?

In [36]:
# continuously multiplies by 2
ix = 1
while ix < 10:
    ix = ix * 2
    print(ix)

2
4
8
16

### `break` - exit the loop

sometimes you want to quit the loop early, if some condition is met.  
uses `if-statement`

In [28]:
ix = 1
while ix < 10:
    ix = ix * 2
    if ix == 4:
        break
print(ix)

4

The `break` causes the loop to end early

### `continue` - stop the current iteration

sometimes you want to introduce skipping behavior in the loop.  
uses `if-statement`

In [29]:
ix = 1
while ix < 10:
    ix = ix * 2
    if ix == 4:
        print('skipping 4...')
        continue
    print(ix)

2
skipping 4...
8
16

The `continue` causes the loop to skip printing 4

### `for` loop

`for` var in `seq` :  
&nbsp;&nbsp;&nbsp;&nbsp;expression

* 'for each var in seq, execute the expression'
* iterate over an iterable

In [30]:
cities = ['Charlottesville','New York','SF','BOS','LA']

for city in cities:
    city = city.lower()
    print(city)

charlottesville
new york
sf
bos
la

quit early if `SF` reached, using **break**

In [31]:
cities = ['Charlottesville','New York','SF','BOS','LA']

for city in cities:
    if city == 'SF':
        break
    city = city.lower()
    print(city)

charlottesville
new york

skip over `SF` if reached, using **continue**

In [32]:
cities = ['Charlottesville','New York','SF','BOS','LA']

for city in cities:
    if city == 'SF':
        continue
    city = city.lower()
    print(city)

charlottesville
new york
bos
la

# `while` vs `for`

For loops are used to loop through a list of values or an operation in which the number of iterations is **known** in advance.

While loops are when **you don't know** how many interations it will take -- you are depending on some condition to be met.

It is possible for while loops to be unending, for example:

In [33]:
#while 1:
    #print("This is so annoying")

---

### TRY FOR YOURSELF (UNGRADED EXERCISES)

2) Write code that does the following:
- define a list of integers xx = [-2, 8, 0, 5, 6]
- compute the maximum, storing in `max_val`
- loop over each value in the list
- if the value is less than the maximum, print the value
- otherwise, print the string 'max_val'

3a) Write code that does the following:

- set a variable `it` to 0
- set a variable `max_iter` to 100
- while `it` < `max_iter`, do the following:
  - if `it` = 0 or `it` is divisible by 10, print `it`. hint: use modulo operator %
- increase `it` by 1
- when `it` >= `max_iter`, the program should quit

3b) How many iterations did (3a) run?