<a href="https://colab.research.google.com/github/opark03/Notebooks/blob/main/notebooks/23-control-structures-in-r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Control Structures

R code needs looping and conditionals just like Python does. Here are some examples and practice exercises for you:

## `if` / `else if` / `else` Condition Checking

R uses a fairly similar model to Python. The `if` and `else if` controls require a logical test that results in a `TRUE`|`FALSE` and the `else` remains a catch-all that has no condition.

Comparison operators are:

| Operator  | Name  | Example  |
|---|---|---|
| `==` | Equals  | `x == y` |
| `!=` | Not equals  | `y != x` |
| `>`  | Greater than  | `x > y` |
| `<`  | Less than  | `y < x` |
| `>=` | Greater than or equal to  | `x >= y` |
| `<=` | Less than or equal to  | `y <= x` |

In [1]:
x <- 14
y <- 120

if (y > x) {
  print("y is greater than x")
}

[1] "y is greater than x"

In [2]:
x <- 33
y <- 33

if (y > x) {
  print("y is greater than x")
} else if (x == y) {
  print("x and y are equal")
}

[1] "x and y are equal"

In [3]:
x <- 120
y <- 44

if (y > x) {
  print("y is greater than x")
} else if (x == y) {
  print("x and y are equal")
} else {
  print("x is greater than y")
}

[1] "x is greater than y"

The `else if` is not required. A condition check could simply have `if` and `else` stanzas.

### Your turn

Declare 3 variables populated with chars or numerics and use them in an `if` / `else if` / `else` statement.

In [4]:
x <- 20
y <- 30
z <- 40

if (x > y) {
  print("x is greater than y")
} else if (z > x) {
  print("z is greater than x")
} else {
  print("neither staments are true")
}

[1] "z is greater than x"

## `for` Loops

A for-loop can iterate up to numeric count or range (example 1), or through a series of items in a list or vector, or for a numeric range/limit against a vector. For loops of this sort are determinate, in that you can easily predict the number of cycles required to completion.

In [5]:
# loops 10x, counting 1-10.

for(i in 1:10) {
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [6]:
# loops once for each item in a vector

x <- c("a", "b", "x", "y", "z")

for(i in x) {
  print(i)
}

[1] "a"
[1] "b"
[1] "x"
[1] "y"
[1] "z"

In [7]:
# loops in a range of items (3x) mapped against a vector.
# therefore loops 3x total against a, b, and x.

x <- c("a", "b", "x", "y", "z")

for(i in 1:3) {
  print(x[i])
}

[1] "a"
[1] "b"
[1] "x"

### Your Turn

Create a for-loop that iterates 17 times. It can use any of the patterns above.

In [8]:
for (i in 1:17) {
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12
[1] 13
[1] 14
[1] 15
[1] 16
[1] 17

## `seq_along()`

Generates an integer sequence based on the length of an object.

In [9]:
x <- c("a", "b", "x", "y", "z")

for(i in seq_along(x)) {
  print(i)     # the integer of the vector item index
  print(x[i])  # the actual value of the vector item
}

[1] 1
[1] "a"
[1] 2
[1] "b"
[1] 3
[1] "x"
[1] 4
[1] "y"
[1] 5
[1] "z"

In [10]:
# compare to this for-loop that skips integer/indexing and simply takes each value of the vector in sequence

for(letter in x) {
  print(letter)
}

[1] "a"
[1] "b"
[1] "x"
[1] "y"
[1] "z"

In [11]:
# What about iterating across a range, but only at certain intervals?
# Use a sequence from 1-30 but count in intervals of 3

for(i in seq(1, 30, 3)) {
  print(i)
}

[1] 1
[1] 4
[1] 7
[1] 10
[1] 13
[1] 16
[1] 19
[1] 22
[1] 25
[1] 28

### Your turn

Write your own sequential for-loop using the seq(start, stop, interval) pattern

In [12]:
for( i in seq(2, 50, 2)) {
  print(i)
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10
[1] 12
[1] 14
[1] 16
[1] 18
[1] 20
[1] 22
[1] 24
[1] 26
[1] 28
[1] 30
[1] 32
[1] 34
[1] 36
[1] 38
[1] 40
[1] 42
[1] 44
[1] 46
[1] 48
[1] 50

## `while` Loops

As in Python, `while` loops in R often iterate until a condition is met after an indeterminate number of cycles. This might mean cycling through data until a particular value is found, or a particular sum is met, etc.

In [13]:
count <- 0

while(count < 10) {
  print(count)
  count <- count + 1
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

###  Yahtzee!

A simple example of a `while` loop in action:

In [14]:
dice <- 1
while (dice <= 6) {
  if (dice < 6) {
    print("No Yahtzee")
  } else {
    print("Yahtzee!")
  }
  dice <- dice + 1
}

[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "Yahtzee!"

## `break` and `next`

`break` - Stops the loop entirely. It "breaks" the loop when a condition is met.
`next` - Skips an interation of the loop and moves on to the next step in logic.

In [15]:
# BREAK

i <- 1
while (i < 9) {
  print(i)
  i <- i + 1
  if (i == 5) {
    print("I'm all done!")
    break
  }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] "I'm all done!"

In [16]:
# NEXT

i <- 0
while (i < 8) {
  i <- i + 1
  if (i == 5) {
    print("Here is where I pass")
    next
  }
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] "Here is where I pass"
[1] 6
[1] 7
[1] 8

### Your turn

Write a `while` or `for` loop that includes the use of `break` and `next`.

In [18]:
i <- 0
while(i < 10) {
  print(i)
  i <- i + 1
  if (i == 5) {
    print("We are halfway there!")
    next
  }
  if (i == 10) {
    print("we made it!")
    break
  }
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] "We are halfway there!"
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] "we made it!"

# Printing in R

Bonus! There are a variety of ways to print within your R code. Here are the most common:

In [19]:
# print a string manually:

print("This is being printed")

[1] "This is being printed"

In [20]:
# print something from a variable

x = "This is being printed a different way"
print(x)

[1] "This is being printed a different way"

In [21]:
# concatenate things together into a vector to get printed. Keeps separate

x = "Here"
y = "we"
z = "go"

print(c(x, y, z))

[1] "Here" "we"   "go"

In [22]:
# paste() method - replaces a variable with its value and concatenates smoothly

x = "Apples"

print(paste(x, "are the finest fruit"))

[1] "Apples are the finest fruit"

In [25]:
# sprint() method - string printing. Note you should specify data type (s)tring, (f)loat, (i)nteger

x = "Bananas"       # string
y = 11              # integer
z = 3.14159         # float l

sprintf("%s are best", x)
sprintf("%i is my favorite number", y)
sprintf("%f is also known as pi", z)

[1] "Bananas are best"

[1] "11 is my favorite number"

[1] "3.141590 is also known as pi"

### Your turn

Create and populate two variables: One numeric and one character.
Next, create at least three print commands that incorporate your variables alongside other printed text.

In [26]:
x <- "coffee"
y <- 9

sprintf("I need %s when i wakeup at %i am in the morning", x, y)

[1] "I need coffee when i wakeup at 9 am in the morning"